@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #020617;
  transition: all 0.3s ease;
}

html.dark body {
  background: #020617;
}

html:not(.dark) body {
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}